body {
  background-color: rgba(128, 128, 128, 0.491) !important;
}

.nav-link {
  text-decoration: underline;
}

.container {
  background-color: rgb(244, 244, 230);
  
}

.soy {
  padding-left: 140px;
}

.Yo {
  width: 550px;
  height: 450px;
  border-radius: 100%;
  max-width: 100%;
}

h1 {
  font-family: "Spicy Rice", serif;
  font-weight: 400;
}

.correos{
  padding-left: 140px;
}

p {
  font-family: "Finlandica", sans-serif;
}

.card-body {
  background-color: rgba(93, 232, 211, 0.675);
}

.minombre {
  padding-left: 140px;
}

.Contratame {
  padding-left: 140px;
}

.lenguajes {
  padding-left: 140px;
  padding-top: 30px;
}

.botoneslenguajes {
  padding-left: 140px;
  padding-top: 10px;
}

.mistareas {
  padding-left: 140px;
}


.card-img-top {
  width: 100%;
  /* Mantén la imagen del mismo ancho que la tarjeta */
  height: 20rem;
  /* Ajusta la altura de la imagen según tus necesidades */
}

.redescontact {
  padding-left: 140px;
}

.imagenesredes {
  border: none;
  padding-left: 140px;
}
.imagenesredes a {
  text-decoration: none; /* Sin subrayado para que no aparezca esa liena azul que a los lados de las imagenes*/
}

.face {
  width: 80px;
  height: 80px;
  border-radius: 50px;
}

.insta {
  width: 80px;
  height: 80px;
  margin-left: 30px;
  border-radius: 50px;
}

.whatsapp {
  width: 80px;
  height: 80px;
  margin-left: 30px;
  border-radius: 50px;
}

.github {
  width: 80px;
  height: 80px;
  margin-left: 30px;
  border-radius: 50px;
}

.youtube {
  width: 80px;
  height: 80px;
  margin-left: 30px;
  border-radius: 50px;
}

form {
  padding-left: 140px;
}
