<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Mi portafolio</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="java.js">
    <link rel="icon" href="static/images/Yo.ico">

    <!--Links para Bopoptsrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <!--Links para google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Old+Standard+TT&family=Spicy+Rice&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Old+Standard+TT&display=swap"
        rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Finlandica:ital,wght@0,400..700;1,400..700&family=Lobster&family=Old+Standard+TT&family=Spicy+Rice&display=swap"
        rel="stylesheet">



</head>

<body>

    <!--navbar-->
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary" id="--Inicio">
            <div class="container-fluid">
                <a class="navbar-brand" href="#--Inicio">Mi portafolio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#sobre mi">Acerca de</a>
                        </li>
                        <li class="nav-item"></li>
                        <a class="nav-link" href="#tareass">Tareas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#redes">Mis redes</a>
                        </li>



                    </ul>
                    <div class="d-flex">
                        <a href="https://wa.me/522461747159?text=[hola]">
                            <button class="btn btn-outline-success" type="button">WHATSAPP</button>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <br>
        <br>

        <hr>

        <!--Inicio de lo que se va a mostrar sobre mi portafolio-->
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <h1 class="minombre" id="sobre mi">Mi nombre <br>es Jonathan Hernández</h1> <br>
                <p class="soy">Tengo 18 años, estoy aprendiendo a programar, no soy muy bueno aun, no se muchos
                    lenguajes
                    pero trato de aprender todo lo que puedo. </p> <br>
                <div class="Contratame">
                    <a href="https://wa.me/522461747159?text=[Hola]">
                        <button type="button" class="btn btn-primary">Háblame</button>
                    </a>

                </div>
                <h2 class="lenguajes">Lenguajes que se: </h2>
                <div class="botoneslenguajes">
                    <button class="btn btn-primary" type="button">HTML</button>
                    <button class="btn btn-primary" type="button">CSS</button> <br> <br>
                    <div class="csspython">
                        <button class="btn btn-primary" type="button">C++</button>
                        <button class="btn btn-primary" type="button">Python</button>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-sm-12"> <br>
                <img src="static/images/Yo.jpg" alt="imagen mia" class="Yo">

            </div>


            <div class="col-12">
                <hr>

                <!--Tarjetas de las tareas-->
                <h1 class="mistareas" id="tareass">Mis tareas / proyectos</h1>

                <div class="tarjetastareas">
                    <div class="row">

                        <div class="col-lg-4 col-sm-12 mb-3">

                            <a href="static/tarea1/mi_Pagina_WEB.html">
                                <div class="card" style="width: 18rem;">
                                    <img src="static/images/SSdemipag.png" class="card-img-top"
                                        alt="imagen de mi pagina">
                                    <div class="mitarea">
                                        <div class="card-body">
                                            <p class="card-text">Tarea 1.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>


                        <div class="col-lg-4 col-sm-12 mb-3">
                            <a href="static/tarea2/scanerKoala.html">
                                <div class="card" style="width: 18rem;">
                                    <img src="static/images/poly-snapshot.jpg" class="card-img-top"
                                        alt="Imagen de un koala">
                                    <div class="mitarea2">
                                        <div class="card-body">
                                            <p class="card-text">Tarea 2.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>



                        <div class="col-lg-4 col-sm-12 mb-3">
                            <a href="static/tarea3/reporte.html">
                                <div class="card" style="width: 18rem;">
                                    <img src="static/images/VR.jpeg" class="card-img-top" alt="Imagen de un VR">
                                    <div class="mitarea3">
                                        <div class="card-body">
                                            <p class="card-text">Tarea 3.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>



                        <div class="col-lg-4 col-sm-12 mb-3">
                            <a href="static/tarea4/frameworks.html">
                                <div class="card" style="width: 18rem;">
                                    <img src="static/images/Frameworks.png" class="card-img-top"
                                        alt="Imagen de frameworks">
                                    <div class="mitarea4">
                                        <div class="card-body">
                                            <p class="card-text">Tarea 4.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-4 col-sm-12 mb-3">
                            <a href="static/tarea5/ejemAhorcado.py">
                                <div class="card" style="width: 18rem;">
                                    <img src="static/images/Ahorcado.png" class="card-img-top"
                                        alt="imagen del juego del ahorcado">
                                    <div class="mitarea4">
                                        <div class="card-body">
                                            <p class="card-text">Tarea 5 Codigo.py</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>


                        <div class="col-lg-4 col-sm-12 mb-3">
                            <a href="static/tarea6/stackOverflow.html">
                                <div class="card" style="width: 18rem;">
                                    <img src="static/images/StackOverflow.png" class="card-img-top"
                                        alt="imagen de StackOverflow">
                                    <div class="mitarea4">
                                        <div class="card-body">
                                            <p class="card-text">Tarea 6.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <hr>

                <!--Foto de redes para contactarme-->

                <div class="redescontact">
                    <p class="fs-1" id="redes">Mis redes sociales para contactarme</p>

                </div>
                <div class="imagenesredes">

                    <a href="https://www.facebook.com/profile.php?id=100006225014533">
                        <img src="static/images/face.png" alt="facebook" class="face">
                    </a>


                    <a href="https://www.instagram.com/reason_raven/">
                        <img src="static/images/images.jpeg" alt="instagram" class="insta">
                    </a>


                    <a href="https://wa.me/522461747159?text=[Hola]">
                        <img src="static/images/whatsapp.png" alt="whatsapp" class="whatsapp">
                    </a>
                </div>
            </div>
        </div>




    </div>
</body>

</html>