<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarea Sobre mi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleTarea1.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
</head>

<body>
    <a href="{{ url_for('home')}}">Regresar</a>
    <h1>¿Quién soy?</h1>
    <div class="informacion">
        <p> Soy Jonathan Hernández Lazcano, tengo 18 años, apenas los cumpli el 23 de Agosto. Mido como 1.75m (creo).
            Naci en Apizaco Tlaxcala, toda mi vida he sido de ahi, tambien me gustan mucho los videojuegos,se podria
            decir
            que los amo, literal los juego desde que naci, mi primer videojuego que jugue fue cuando yo tenia un año y medio y fue un juego de
            Mario Bros, en una
            computadora y despues mas grande continue con el Plantaz VZ Zombies, y posteriormente ya que estaba un
            poco mas
            grande, empece a jugar en el Xbox 360 y desde ahi no pare y ni pienzo parar de jugar con los videojuegos ❤️.
        </p>
    </div>

    <h2>Gustos</h2>
    <div>
        <p> Me gustan las peliculas de terror, acción y un poco de comedia, tambien me gustan mucho los videojuegos como
            lo dije anteriormente.
            Me gusta comer, mis comidas favoritas son los tacos al pastor, tacos árabes, hamburguesas, pizza, pozole y
            ceviche por no decir otras.
            <button id="Boton"  type="button" class="btn btn-primary">Click aqui para agregarme como amigo</button>
        </p>
    </div>

    <h2>Habilidades</h2>
    <div>
        <p> Pues no es que tenga muchas, pero aqui esta una pequeña lista que creo yo tengo. <br>
            <li> Soy bueno en la natación. </li>
        <p> Cuando hacia natación e iba a competencias siempre terminaba en 1er lugar. </p>
        <li> Soy bueno en los videojuegos competitivos. </li>
        <p> Como ya habia dicho me gustan los jugos y en especial los juegos competitivos,
            como por ejemplo en Gears 5 llegue a Master que es el rango máximo, en Rainbow Six llegue a Champ que
            tambien es el rango máximo y en Overwatch
            llegue a los mejores Top 500. </p>
        <li> Soy bueno comiendo mucho. </li>
        <p> Estoy seguro que si voy a un concurso de cuanto puedes comer, yo ganaria, soy un barril sin fondo. </p>
        <p>----------------------------------------------------------------------------</p>
        <p> Y ya son todas, no son muchas como dije pero al menos tengo. </p>
        <h3> Contacto </h3>
        <p>Numero telefonico: 246-174-71-59 <br> Correo Institucional: 200417@iberopuebla.mx <br> Correo Personal:
            jonathan23_09@outlook.com <br> IG: reason_raven </p>
    </div>
    <img src="static/tarea1/imagenes1/IMG_Raimbow.jpeg" alt="Imagen de Rainbow">
    <img src="static/tarea1/imagenes1/OW.png" alt="Imagen de Overwatch">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
</body>

</html>