<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mis proyectos</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/stylemisProyectos.css')}}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/stylemisProyectos.css')}}">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</head>

<body>

  <br>
  <hr>

  <div class="container">

    <nav class="navbar navbar-expand-lg bg-body-tertiary" id="--Inicio">
      <div class="container-fluid">
        <a class="navbar-brand" href="#--Inicio">Mi portafolio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('home')}}">Home</a>
            </li>
          </ul>
          <div class="d-flex">
            <a href="https://wa.me/522461747159?text=[hola]">
              <button class="btn btn-outline-success" type="button">WHATSAPP</button>
            </a>
          </div>
        </div>
      </div>
    </nav>

    <br>

    <a href="{{ url_for('home')}}" class="Regresar">Regresar</a>

    <hr>

    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="static/tarea1/imagenes1/Capturadepantalla.png" class="card-img-top"
            alt="Imagen de mi primera pagina">
          <div class="card-body">
            <h5 class="card-title">Tarea 1</h5>
            <p class="card-text">Mi primera pagina web que hice.</p>
            <a href="{{ url_for('pagina')}}" class="btn btn-danger">Ir al proyecto</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="static/images/poly-snapshot.jpg" class="card-img-top" alt="Imagen de mi koala">
          <div class="card-body">
            <h5 class="card-title">Tarea 2</h5>
            <p class="card-text">Escaneo de un objeto.</p>
            <a href="{{ url_for('koala')}}" class="btn btn-danger">Ir al proyecto</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="static/images/VR.jpeg" class="card-img-top" alt="Imagen de VR">
          <div class="card-body">
            <h5 class="card-title">Tarea 3</h5>
            <p class="card-text">Reporte sobre el VR.</p>
            <a href="{{ url_for('reporte')}}" class="btn btn-danger">Ir al proyecto</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="static/images/Frameworks.png" class="card-img-top" alt="Imagen de los Frameworks">
          <div class="card-body">
            <h5 class="card-title">Tarea 4</h5>
            <p class="card-text">Frameworks de apps pupulares.</p>
            <a href="{{ url_for('frameworks')}}" class="btn btn-danger">Ir al proyecto</a>
          </div>
        </div>
      </div>

      <hr>

      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="static/images/Ahorcado.png" class="card-img-top" alt="Imagen del ahorcado">
          <div class="card-body">
            <h5 class="card-title">Tarea 5</h5>
            <p class="card-text">Codigo en .py (Se descarga el codigo).</p>
            <a href="static/tarea5/ejemAhorcado.py" class="btn btn-danger">Ir al proyecto</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="static/images/StackOverflow.png" class="card-img-top" alt="Imagen de stackOverflow">
          <div class="card-body">
            <h5 class="card-title">Tarea 6</h5>
            <p class="card-text">Presentacion sobre el stackOverflow.</p>
            <a href="{{ url_for('stackoverflow')}}" class="btn btn-danger">Ir al proyecto</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="static/images/modeva.png" class="card-img-top" alt="Imagen de Modeva">
          <div class="card-body">
            <h5 class="card-title">Tarea 7</h5>
            <p class="card-text">Resumen de la platica.</p>
            <a href="{{ url_for('platicaModeva')}}" class="btn btn-danger">Ir al proyecto</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="static/images/TeachableMachine.png" class="card-img-top" alt="Imagen de TeachableMachine">
          <div class="card-body">
            <h5 class="card-title">Tarea 8</h5>
            <p class="card-text">Entrenamiento de IA.</p>
            <a href="{{ url_for('IApractica')}}" class="btn btn-danger">Ir al proyecto</a>
          </div>
        </div>
      </div>

      <hr>
      <br>

      <!--
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-danger">Ir al proyecto</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-danger">Ir al proyecto</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-danger">Ir al proyecto</a>
          </div>btn btn-success
        </div>
      </div>

-->

    </div>
</body>

</html>