<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Platica</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleTarea7.css')}}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
</head>

<body>
    <div class="container">
        <br>
        <a href="{{ url_for('home')}}">Regresar</a>
        
        <h1>Resumen de la platica de Modeva</h1>
        <br>
        <hr>
        <p>
            <li>
                Se hablo sobre como hacer un curriculum
            </li>
            <li>
                Talleres de musica, artes visuales, artes escenicas y literaturas
            </li>
            <li>
                Talleres artisticos: Pintura, ceramica etc.
            </li>
            <li>
                Grupos estudiantiles: Ajedrez, Grupo de eSports etc.
            </li>
            <li>
                Difucion de medios: Comunicacion, comunidades universitarias, retiros espirituales, voluntariado, cuidar niños <br>
                formacion y orientacion educativa y otros talleres como psicologia crecimiento personal.
            </li>
            <li>
                Inscribir materias
            </li>
        </p>

        <hr>

        <div class="container text-center">
            <div class="row align-items-start">
              <div class="col">
                <img id="imagen1" src="static/images/modeva.png" alt="imagen de modeva" class="imagen1">
              </div>
              <div class="col">
                <img id="imagen2" src="static/images/experienciasMias.png" alt="Mis experiencias">
              </div>
              <div class="col">
                <img id="imagen3" src="static/images/vidaUni.png" alt="Vida Universitaria">
              </div>
            </div>
          </div>

          <hr>


        
        
        
    


    </div>
</body>

</html>