<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escaner de koala</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleTarea2.css')}}">
    
</head>

<body>

    <a href="{{ url_for('home')}}" class="Regresar">Regresar</a><br>
    <hr>

    <div class="container text-center">
        <div class="row">
            <div class="col-12">
                <div class="videosketch">
                    <h1>Escaneo de mi objeto</h1>
                    <p>Este es un escaneo de mi koala, este escaneo se hizo con la aplicacion de Polycam, este tipo de
                        escaneos es para una vez escaneados, se puede mandar a imprimir en 3d, <br> lo pasas a a un
                        modelo 3d, y posteriormente a una impresora especializada para este tipo de objetos y casos. </p>
                    <br>
                    <div class="sketchfab-embed-wrapper"> <iframe title="ImageToStl_com_13_10_2024" frameborder="0"
                            allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true"
                            allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking
                            execution-while-out-of-viewport execution-while-not-rendered web-share
                            src="https://sketchfab.com/models/bdc2fbc1064e4c49bd32eab692da1b8f/embed"> </iframe>
                        <p style="font-size: 20px; font-weight: normal; margin: 5px; color: #4A4A4A;"> <a
                                href="https://sketchfab.com/3d-models/imagetostl-com-13-10-2024-bdc2fbc1064e4c49bd32eab692da1b8f?utm_medium=embed&utm_campaign=share-popup&utm_content=bdc2fbc1064e4c49bd32eab692da1b8f"
                                target="_blank" rel="nofollow" style="font-weight: bold; color: #1CAAD9;">
                                ImageToStl_com_13_10_2024
                            </a> by <a
                                href="https://sketchfab.com/jonathanrook60?utm_medium=embed&utm_campaign=share-popup&utm_content=bdc2fbc1064e4c49bd32eab692da1b8f"
                                target="_blank" rel="nofollow" style="font-weight: bold; color: #1CAAD9;">
                                jonathanrook60 </a>
                            <a href="https://sketchfab.com?utm_medium=embed&utm_campaign=share-popup&utm_content=bdc2fbc1064e4c49bd32eab692da1b8f"
                                target="_blank" rel="nofollow" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
                        </p>
                    </div>
                </div>
                <div class="col">
                    <video src="static/tarea2/videos/ScreenRecording.mov" controls preload></video>
                </div>
            </div>
        </div>






    </div>
</body>

</html>